In [37]:
""" Configurations """
# Imports
import os, re, json
import pandas as pd

# # Google Colab
# from google.colab import drive
# drive.mount('/content/drive/')
# %cd /content/drive/My Drive/Colab Notebooks/

# Settings
dataset_file = "files/bank.xlsx"
column_mappings = { 
                    "Account No": "Account", 
                    "DATE": "ValueDate", 
                    "TRANSACTION DETAILS": "Remarks", 
                    "CHQ.NO.": "ChequeNo", 
                    "VALUE DATE": "Date",
                    "WITHDRAWAL AMT": "Credit", 
                    "DEPOSIT AMT": "Debit", 
                    "BALANCE AMT": "Balance"
                }
column_order = ["Account", "ChequeNo", "Date", "ValueDate", "Debit", "Credit", "Balance", "Remarks"]

# Read dataset file
df_dataset = pd.read_excel(dataset_file)

In [38]:
""" Preliminary Processing """
# Drop . column
df_dataset.drop(axis = 1, columns = ".", inplace = True) 

# Rename columns
df_dataset.rename(columns = column_mappings, inplace = True)

# Rearrange columns
df_dataset = df_dataset[column_order]

In [44]:
""" Data Processing """

# Remove trailling '
df_dataset['Account'] = df_dataset['Account'].str.strip("'")

In [45]:
# Preliminary Analysis
df_dataset.head()
# df_dataset.columns

,Account,ChequeNo,Date,ValueDate,Debit,Credit,Balance,Remarks
0,409000611074,NaN,2017-06-29,2017-06-29,1000000.0,NaN,1000000.0,TRF FROM Indiaforensic SERVICES
1,409000611074,NaN,2017-07-05,2017-07-05,1000000.0,NaN,2000000.0,TRF FROM Indiaforensic SERVICES
2,409000611074,NaN,2017-07-18,2017-07-18,500000.0,NaN,2500000.0,FDRL/INTERNAL FUND TRANSFE
3,409000611074,NaN,2017-08-01,2017-08-01,3000000.0,NaN,5500000.0,TRF FRM Indiaforensic SERVICES
4,409000611074,NaN,2017-08-16,2017-08-16,500000.0,NaN,6000000.0,FDRL/INTERNAL FUND TRANSFE